EXPO_PUBLIC_API_URL=https://mobo-api-gateway.onrender.com/api
EXPO_PUBLIC_GOOGLE_MAPS_KEY=AIzaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_SOCKET_URL=https://mobo-ride-service.onrender.com
EXPO_PUBLIC_LOCATION_SOCKET_URL=https://mobo-location-service.onrender.com
